$primary: #00AF43;
$secondary: #FF6C0E;

$buttonDefaultBackground: #fafafa;
$buttonDefaultColor: #272727;
$buttonDefaultBorder: 1px solid #dadade;

$buttonPrimaryBackground: $primary;
$buttonPrimaryColor: #fff;
$buttonPrimaryBorder: 1px solid transparent;

$buttonSecondaryBackground: $secondary;
$buttonSecondaryColor: #fff;
$buttonSecondaryBorder: 1px solid transparent;
